<body>
    <div id="main_div">
        <div id="edit_streets_div">
          <div id="add_north_div">
            <h1>North Street</h1>
            <form>
                <mat-form-field appearance="fill">
                  <mat-label>Approach lanes</mat-label>
                  <mat-select [(ngModel)]="northLanesOut" name="nlanesOutValue">
                    <mat-option *ngFor="let nlanesOutValue of lanesOutValues" [value]="nlanesOutValue.value">
                      {{nlanesOutValue.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Exit lanes</mat-label>
                    <mat-select [(ngModel)]="northLanesIn" name="nlanesInValue">
                      <mat-option *ngFor="let nlanesInValue of lanesInValues" [value]="nlanesInValue.value">
                        {{nlanesInValue.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </form>
        </div>
        <div id="middle_div">
            <div id="add_west_div">
              <h1>West Street</h1>
                <form>
                    <mat-form-field appearance="fill">
                      <mat-label>Approach lanes</mat-label>
                      <mat-select [(ngModel)]="westLanesOut" name="lanesOutValue">
                        <mat-option *ngFor="let lanesOutValue of lanesOutValues" [value]="lanesOutValue.value">
                          {{lanesOutValue.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Exit lanes</mat-label>
                        <mat-select [(ngModel)]="westLanesIn" name="lanesInValue">
                          <mat-option *ngFor="let lanesInValue of lanesInValues" [value]="lanesInValue.value">
                            {{lanesInValue.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </form>
            </div>
            <div id="go_next_div">
              <button id="go_next_button" (click)="go_next()">Create Intersection</button>
          </div>
            <div id="add_east_div">
              <h1>East Street</h1>
                <form>
                    <mat-form-field appearance="fill">
                      <mat-label>Approach lanes</mat-label>
                      <mat-select [(ngModel)]="eastLanesOut" name="elanesOutValue">
                        <mat-option *ngFor="let elanesOutValue of lanesOutValues" [value]="elanesOutValue.value">
                          {{elanesOutValue.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Exit lanes</mat-label>
                        <mat-select [(ngModel)]="eastLanesIn" name="elanesInValue">
                          <mat-option *ngFor="let elanesInValue of lanesInValues" [value]="elanesInValue.value">
                            {{elanesInValue.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </form>
            </div>
            </div>
            <div id="add_south_div">
              <h1>South Street</h1>
                <form>
                    <mat-form-field appearance="fill">
                      <mat-label>Approach lanes</mat-label>
                      <mat-select [(ngModel)]="southLanesOut" name="slanesOutValue">
                        <mat-option *ngFor="let slanesOutValue of lanesOutValues" [value]="slanesOutValue.value">
                          {{slanesOutValue.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Exit lanes</mat-label>
                        <mat-select [(ngModel)]="southLanesIn" name="slanesInValue">
                          <mat-option *ngFor="let slanesInValue of lanesInValues" [value]="slanesInValue.value">
                            {{slanesInValue.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </form>
            </div>
        </div>
    </div>
</body>
